@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #394051;
  --background: #f8fafc;

  color: var(--foreground);
  background: var(--background);
}

@media (color-scheme: dark) {
  :root {
    --foreground: #e5e7eb;
    --background: #171717;

    color: var(--foreground);
    background: var(--background);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.editor-header * svg {
  /* color: inherit !important;
  fill: currentColor !important; */
}

.editor-header * button {
  @apply bg-default-100
}

.editor-content * table {
  @apply mx-2 my-2 max-w-[calc(100%-1rem)];
}

.editor-content * table thead tr th {
  @apply py-0
}

.editor-content * table * {
  @apply border-default-300
}
